//*
 Global styling
*/

html {
    background: url('../image/backgroundImage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    height: 100%;
}

body {
	color: #262626;
	font-size: 85%;
	font-family: 'Lato', sans-serif;
	line-height: 150%;
	text-align: left;
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: #23448c;
}

a:hover,
a:active {
	color: #f8f8f8;
	background-color: #23448c;
}

.wrapperBody {
	margin: 0 auto;
	clear: both;
	width: 90%;
    max-width: 1024px;
}

h2 {
    color: #23448c;
    margin-top: 0;
}

b{
    color: #23448c;
}

.ratingStar {
    height: 15px;
}

/*
 Banner image styling
*/

.wrapperHeader a:hover {
	background-color: transparent;
}

/*
 Navigation bar styling
*/
.wrapperHeader nav {
	background-color: #262626;
	height: 40px;
}

.wrapperHeader nav ul {
    padding: 0;
	list-style: none;
	margin: 0 auto;
}

.wrapperHeader ul li {
	display: inline;
	float: left;
}

.wrapperHeader nav a:link,
.wrapperHeader nav a:visited {
	color: #f8f8f8;
	display: inline-block;
	height: 40px;
	padding: 7px 20px;
}

.wrapperHeader nav a:hover,
.wrapperHeader nav a:active,
.wrapperHeader nav .active a:link,
.wrapperHeader nav .active a:visited {
	background-color: #23448c;
	text-shadow: none;
	text-decoration: none;
}

.wrapperHeader {
    font-size: 120%;
}

/*
 Body content styling
*/

.wrapperContent {
    float: left;
    width: 100%;
	background-color: #f8f8f8;
	margin: 20px 0;
}

.content {
    padding: 3%;
    width: 94%;
}


/*
 Footer styling
*/

.wrapperFooter {
	width: 100%;
	height: 40px;
	float: left;
	background-color: #262626;
    margin-bottom: 0%;
}

.wrapperFooter p {
	color: #f8f8f8;
	margin: 10px 0 0 3%;
	height: 40px;
}

/*
 Form styling
*/

input,
select,
textarea,
button{
    padding: 0 10px;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    display: block;
    box-sizing: border-box;
}

select {
    padding: 0 7px;
}

.headerSelect {
    margin-top: 0;
}

textarea {
	font-family: Arial, 'Lucida Sans Unicode';
    padding-top: 5px;
    height: 100px;
    width: 400px;
    max-height: 270px;
    max-width: 100%;
}

input[type=submit], button {
    background-color: #23448c;
    color: #f8f8f8;
    border: none;
    cursor: pointer;
}

#loginButton {
    margin-bottom: 5px;
}

.errorMessage {
    color: #c30000;
    font-weight: bold;
    display: none;
}

/*
 Table styling
*/

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    word-wrap: break-word;
    padding: 10px;
}

td {
    padding: 15px 10px;
}

th {
    background-color: #262626;
    color: #f8f8f8;
}

.resultTable {
    margin-top: 20px;
}

.numberColumn {
    padding-left: 20px;
}

.detailColumn {
    padding-right: 20px;
    width: 100px;
}

.navTd:hover {
    background-color: #cbcbcb;
}

.navTable {
    max-width: 400px;
}

.headerRow:hover {
    background-color: #cbcbcb;
}

.generatedList {
    display: none;
    background-color: #cbcbcb;
    padding: 5px;
}

.headerTable td{
    padding: 3px 10px;
}

/*
 Responsive mobile design
*/

@media only screen and (max-width: 812px) {

    /*
     Mobile global styling
    */

    body {
        font-size: 90%;
    }

	.wrapperBody {
		width: 100%;
	}

    /*
     Mobile navigation bar
    */

	.wrapperHeader nav {
		height: 120px;
	}

	.wrapperHeader nav ul {
        padding: 0;
	}

	.wrapperHeader ul li {
        margin: 0;
		width: 100%;
		text-align: center;
	}

	.wrapperHeader nav a:link,
    .wrapperHeader nav a:visited {
		display: block;
	}

    /*
     Mobile body content
    */

    .wrapperContent {
        margin: 2% 0;
    }

	.content {
        width: 96%;
	    padding: 2%;
	}

    /*
     Mobile footer
    */

    .wrapperFooter {
        margin-bottom: 0%;
    }

    .wrapperFooter p {
        margin-left: 2%;
    }

    /*
     Mobile form
    */

    input,
    select,
    textarea,
    input[type=submit] {
        width: 100%;
        height: 40px;
    }

    textarea {
        height: 140px;
    }

    /*
     Mobile table
    */

    .resultTable tr th:nth-child(1),
    .resultTable tr td:nth-child(1) {
        display: none;
    }

    td {
        padding: 15px 2%;
    }

    th {
        padding: 2%;
    }

    .resultTable {
        margin-top: 2%;
    }

}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: grey;
  color: white;
}

.item_box{
    height:540px;
}
 
.photo-thumb{
    width:100%;
    height:auto;
    float:left; 
    border: thin solid #d1d1d1;
    margin:0 1em .5em 0;
    float:left; 
}

  .fb-page, .fb-page:before, .fb-page:after {
    border: 1px solid #ccc;
  }

  .fb-page:before, .fb-page:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 2px;
    right: 2px;
    height: 1px;
    border-top: none
  }
  
  .fb-page:after {
    left: 4px;
    right: 4px;
    bottom: -5px;
    box-shadow: 0 0 2px #ccc
  }

  
  .item_box{
    height:540px;
}


<!-- custom CSS -->
.overflow-hidden{
    overflow:hidden;
}
 
.left-margin-10px{
    margin:0 1em 0 0;
}
 
.margin-right-1em{
    margin-right:1em;
}
 
.margin-right-2em{
    margin-right:2em;
}
 
.text-align-center{
    text-align:center;
}
 
.margin-top-4px{
    margin-top:4px;
}
 
.color-gray{
    color:#999;
}
 
.tweet-image{
    float:left; width:15%;
    margin-right:1em;
}
 
.tweet-image img{
    width:100%;
}
 
.tweet-text{
    float:left; width:80%;
}
 
.margin-zero{
    margin:0;
}
 
.font-size-20px{
    font-size:20px;
}
 
.float-left{
    float:left;
}
  