/*
 Global styling
*/

html {
    background: url('../image/backgroundImage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    height: 100%;
}

body {
	color: #262626;
	font-size: 85%;
	font-family: 'Lato', sans-serif;
	line-height: 150%;
	text-align: left;
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: #22448B;
}

a:hover,
a:active {
	color: #f8f8f8;
	background-color: #22448B;
}

.wrapperBody {
	margin: 0 auto;
	clear: both;
	width: 90%;
    max-width: 1024px;
}

h2 {
    color: #22448B;
    margin-top: 0;
}

b{
    color: #22448B;
}

.mergeWarning{
    margin: 20px 0 10px 0;
    padding:5px;
    max-width: 450px;
    word-wrap: break-word;
    display: block;
    outline: 2px solid #22448B;
}

.indexParagraph{
    max-width: 450px;
    word-wrap: break-word;
    display: block;
}

/*
 Navigation bar styling
*/

nav {
	background-color: #262626;
	height: 40px;
}

nav ul {
    padding: 0;
	list-style: none;
	margin: 0 auto;
}

.wrapperHeader ul li {
	display: inline;
	float: left;
}

.wrapperHeader nav a:link,
.wrapperHeader nav a:visited {
	color: #f8f8f8;
	display: inline-block;
	height: 20px;
	padding: 10px 20px;
}

.wrapperHeader nav a:hover,
.wrapperHeader nav a:active,
.wrapperHeader nav .active a:link,
.wrapperHeader nav .active a:visited {
	background-color: #22448B;
	text-shadow: none;
}

nav ul li a {
    font-size: 120%;
}

/*
 Body content styling
*/

.wrapperContent {
    float: left;
    width: 100%;
	background-color: #f8f8f8;
	margin: 20px 0;
}

.content {
    padding: 3%;
    width: 94%;
}


/*
 Footer styling
*/

.wrapperFooter {
	width: 100%;
	height: 40px;
	float: left;
	background-color: #262626;
    margin-bottom: 0%;
}

.wrapperFooter p {
	color: #f8f8f8;
	margin: 10px 0 0 3%;
	height: 40px;
}

/*
 Form styling
*/

input,
select,
button{
    padding: 0 10px;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    display: block;
    box-sizing: border-box;
}

select {
    padding: 0 7px;
}

.headerSelect {
    margin-top: 0;
}

input[type=submit], button {
    background-color: #22448B;
    color: #f8f8f8;
    border: none;
    cursor: pointer;
}

input[type=submit]:disabled {
    background-color: #6e6e6e;
    cursor: default;
}

.acceptCondtCheckBox {
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
}

.acceptCondtLabel {
  display: block;
  width: 450px;
  word-break: break-all;
}

.errorMessage {
    color: #c30000;
    font-weight: bold;
    display: none;
}

/*
 Table styling
*/

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    word-wrap: break-word;
    padding: 10px;
}

td {
    padding: 15px 10px;
}

th {
    background-color: #262626;
    color: #f8f8f8;
}

.headerRow:hover {
    background-color: #cbcbcb;
}

.headerTable tr:nth-child(odd) {
    background-color: #e2e2e2;
}

.headerTable tr:nth-child(odd):hover {
    background-color: #cbcbcb;
}

.headerTable td{
    padding: 3px 10px;
}


/*
 Responsive mobile design
*/

@media only screen and (max-width: 812px) {

    /*
     Mobile global styling
    */

    body {
        font-size: 90%;
    }

	.wrapperBody {
		width: 100%;
	}

    .mergeWarning {
        max-width: 100%;
    }

    .indexParagraph {
        max-width: 100%;
    }

    /*
     Mobile navigation bar
    */

	.wrapperHeader nav {
		height: 120px;
	}

	.wrapperHeader nav ul {
        padding: 0;
	}

	.wrapperHeader ul li {
        margin: 0;
		width: 100%;
		text-align: center;
	}

	.wrapperHeader nav a:link,
    .wrapperHeader nav a:visited {
		display: block;
	}

    /*
     Mobile body content
    */

    .wrapperContent {
        margin: 2% 0;
    }

	.content {
        width: 96%;
	    padding: 2%;
	}

    /*
     Mobile footer
    */

    .wrapperFooter {
        margin-bottom: 0%;
    }

    .wrapperFooter p {
        margin-left: 2%;
    }

    /*
     Mobile form
    */

    input,
    select,
    input[type=submit] {
        width: 100%;
        height: 40px;
    }

    /*
     Mobile table
    */
    td {
        padding: 15px 2%;
    }

    th {
        padding: 2%;
    }

}